$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "_variables.scss";

$brand-secondary: #3F4464;
$brand-accent: #FA4789;
$brand-income: #57E08B;


// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower





/* Custom page header */

.jumbotron {
  .choose {max-width: 250px;margin:0 0 30px;
    background: rgba(255,255,255,.3);
    border:none;
    color:#FFF;
  }
  .bank-choose {
    margin:0 0 30px;
    .btn-default {color:#FFF; background: transparent; border-color: rgba(255,255,255,.3);
      position: relative;
      input {opacity: 0;position: absolute;}
      &:hover {background:rgba(255,255,255,.1)}
      &.active {background: $brand-accent;color:#FFF; box-shadow: none; border-color:$brand-accent;}
    }
  }
  .guide {
    margin: 0 0 15px;
    clear: both;
    line-height: 50px;
    color:#FFF;
    span {display: inline-block;float: left;width: 50px;height: 50px; text-align: center;border:2px solid $brand-accent;color:rgba(255,255,255,.6);border-radius: 50%;margin: 0 20px 0px 0;line-height: 46px; padding: 0;}
  }
  .infoimg {width: 500px;max-width: 100%;margin-bottom: 30px;}
  background:$brand-secondary;
  color:rgba(255,255,255,.5);
  border-radius: 0;
  position: relative;
  padding-bottom: 0;
  .lead {
    input {margin:20px 0 20px; padding:25px; line-height:1; display:block; border:2px solid #aaa;border-radius:0; outline:none; cursor:pointer;
      max-width: 100%;
      color:$brand-primary;
      &:active,&:hover {border-color:$brand-primary;}
    }
  }
  .no-menu.container {padding-bottom: 20px;}
  .guides.invisible {display:none;}
  .container {position: relative;padding-bottom:30px; transition:all 0.4s ease;}

  .menu {
    margin: 40px 0 0px;
    bottom:-30px;
    padding: 0;
    position: relative;
    left: 0;
    width: 100%;
    display: block;
    li{ 
      list-style: none;
      a{
        float:left;
        width: 50%;
        display:inline-block;
        text-transform:uppercase;
        font-size: 40px;
        font-weight: 100;
        padding: 8px 35px;
        color:rgba(255,255,255,.8);
        outline:0 !important;
        text-decoration: none;
        text-align: center;
        &.active {
          border-bottom: 4px solid $brand-accent;
          color:#FFF;
          .badge {background: $brand-accent;}
        }
        &:hover {color:#FFF;}
        .badge{background:rgba(255,255,255,.4);top:-30px;margin:0 0 0 -15px;float:none;color:$brand-secondary;display:inline-block; font-size:14px; padding:2px 3px; border-radius:2px; position:relative;}

      }
      &.income-tab{
        a{
          &.active {
          border-color:$brand-primary;
          .badge { background:$brand-primary;}
          }
          
        }
      }
    }
  }
}


// Header
.header {margin:0;}
.navbar-default {
  background: $brand-secondary;
  border:0;
  margin: 0;
  .navbar-nav {
     &>li>a{font-weight: bold;font-size:15px;color:rgba(255,255,255,.25);outline:none !important;
      &:hover {color:rgba(255,255,255,.5)}
     }
     &> .active > a, &> .active > a:hover, &> .active > a:focus{background: transparent;color:rgba(255,255,255,.5);}
  }
  .navbar-brand {
    font-weight:100; 
    text-transform:uppercase; 
    color:#FFF;
    &:hover, &:active {color:$brand-accent;}
    img {
      height:30px;
      float: left;
      margin: -5px 5px 0 0;
    }
  }
}

.container-relative {position: relative;}
.loader {display:block;margin:0 auto; padding:10px; text-align: center;}




.canvas-container {
  width: 90%;
  margin: 30px auto 60px; 
}


.pricerows {
  margin:0 0 50px;

  .total {
    color:$brand-accent;
    text-align: center;
    font-size: 450%;
    margin: 0 0 20px;
    .title {display:block; color:#aaa; font-size:30%;text-transform:uppercase;font-weight:900;}
    .currency {margin-left:5px; color:#000;}
  }

  .pricerow {
    position: relative;
    .lbl {color:#777; text-transform:uppercase; font-weight:100;}
    .sum {margin:-2px 0 0 20px; font-weight:bold; float:right;}
    .progress {
      box-shadow:none;
      height: 15px;
      .progress-bar {min-width: 1px;box-shadow: none;background: $brand-accent;}
    }

    .info {
      opacity: 0;
      transform:scale(0);
      -webkit-transform:scale(0);
      transition:all 0.2s ease;
      -webkit-transition:all 0.2s ease;
      background:#fff;padding:12px 0 0;color:lighten($brand-secondary,20%);border:9px solid #EEE; border-radius:50%; text-align:center;font-weight:900; font-size:16px;position: absolute;width:90px;height:90px;left:50%; top:-17px;margin:0 0 0 -50px;
      span {display:block; font-size:13px; color:rgba(0,0,0,.2);font-weight:900;}
    }
    &:hover {
      z-index: 2;
      .progress{background:#eee;}
      .info {opacity:1; transform:scale(1);webkit-transform:scale(1);}
    }


  }
  &.income{
    .total {color:$brand-primary;}
    .progress .progress-bar {background:$brand-primary;}
  }

}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .jumbotron {
    padding-left:0;
    padding-right:0;
    .menu {
      li{ 
        a{
          font-size: 20px;
          padding: 8px;
 
          &.active {
            border-width: 0 0 2px;
          }
          &:hover {color:#FFF;}
          .badge{top:-20px;font-size:12px;}

        }
      }
    }
  }

  .navbar-default .navbar-toggle{
    border-color:rgba(255,255,255,.3);
    &:hover,&:active {background:rgba(255,255,255,.1)}
    .icon-bar{background:$brand-accent;}

  }

}
