$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "_variables.scss";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower



/* Custom page header */
.guide {
  margin: 0 0 15px;
  clear: both;
  line-height: 50px;
  span {display: inline-block;float: left;width: 50px;height: 50px; text-align: center;border:2px solid #999;color:#999;border-radius: 50%;margin: 0 20px 00px 0;line-height: 46px; padding: 0;}
}

.jumbotron {
  h1 {margin-top:0;padding-top:0;}
  background:#E7E7E7;
  border-radius: 0;
  .lead {
    input {margin:20px 0 30px; padding:25px; display:block; border:2px solid #aaa;outline:none; cursor:pointer;
      color:$brand-primary;
      &:active,&:hover {border-color:$brand-primary;}
    }
  }
}

.header {margin:0;}
.navbar {
  border:0;
  margin: 0;
  .navbar-brand {font-weight:100; text-transform:uppercase; color:$brand-primary;
    img {
      height:30px;
      float: left;
      margin: -5px 5px 0 0;
      opacity: 0.5;
    }
  }
}

.center {display:block; text-align:center; margin: 0 auto;}

.total {
  color:$brand-primary;
  text-align: center;
  font-size: 400%;
  margin: 0 0 20px;
  .title {display:block; color:#aaa; font-size:30%;text-transform:uppercase;font-weight:900;}
  .currency {margin-left:5px; color:#000;}
}

.pricerow {
  .lbl {color:#888; text-transform:uppercase; font-weight:100;}
  .sum {margin:-2px 0 0 20px; font-weight:bold; float:right;}
  .progress {
    box-shadow:none;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


}
