      <h2 class="total" ng-if="totalIncome"><span class="title">Yhteensä <span>{{timeInterval[0]}}—{{timeInterval[1]}}</span></span> {{total(filteredIncome)}}<span class="currency">&euro;</span></h2>



	    <div class="input-group filter">
	      <span class="input-group-addon"><i class="ion-ios-search-strong"></i></span>
	      <input type="text" class="form-control" ng-change="reCalcChart(false,incomeFilter)" ng-model="incomeFilter" placeholder="Hae" >
	    </div>

      <div ng-repeat="row in filteredIncome = (income | filter:incomeFilter)" class="pricerow" ng-class="{excluded:hidden.indexOf(row.id)>=0}" >
        <span class="lbl">{{row.id || '-ei tallettajan nimeä-'}}</span> <span class="sum">{{row.sum}} &euro;</span>

        <a ng-click="hide(row.id);reCalcChart(false,incomeFilter)" href class="btn-hide"><i class="ion-android-close"></i></a>

        <div class="progress">
          <div class="progress-bar" role="progressbar"  style="width: {{row.percentage}}%"></div>
        </div>

        <div class="info">~{{row.avg}}€<span>/kerta</span></div>
      </div>