  <div class="container">
    <h2>Mikä on Nordeash?</h2>

    <p>Useimmat verkkopankit tarjoavat tilitapahtumat csv-muodossa ja Nordeash osaa muuttaa tämän ymmärrettävään muotoon.</p>

    <p>Tilitapahtumia ei ladata missään vaiheessa palvelimelle vaan niitä käsitellään pelkästään selaimessasi. Mikäli haluaa olla varma tietoturvastaan voi verkkoyhteyden katkaista ohjelman käytön ajaksi ja tyhjentää selainhistorian käytön jälkeen.</p>

    <a class="btn-outline btn btn-lg btn-primary" href="#/#step-1">
      Aloita nyt <i class="ion-chevron-up"></i>
    </a>
  </div>