    <h2 class="total" ng-if="outcome"><span class="title">Yhteensä <span>{{timeInterval[0]}}—{{timeInterval[1]}}</span></span> {{total(filteredOutcome,'outcome')}}<span class="currency">&euro;</span></h2>


    <div class="input-group filter">
      <span class="input-group-addon"><i class="ion-android-search"></i></span>
      <input type="text" class="form-control" ng-change="reCalcChart(true,outcomeFilter)" ng-model="outcomeFilter" placeholder="Rajaa menoja" >
    </div>


    <div ng-repeat="(id,row) in filteredOutcome = (outcome | filter:outcomeFilter)" class="pricerow" ng-class="{excluded:hidden.indexOf(row.id)>=0}">
     <span class="lbl">{{row.id || '-ei saajan nimeä-'}}</span> <span class="sum">{{row.sum}} &euro;</span>

     <a ng-click="hide(row.id); reCalcChart(true, outcomeFilter)" href class="btn-hide">
      <i class="ion-android-checkbox check-on"> </i>
      <i class="ion-android-checkbox-outline-blank check-off"> </i>
     </a>

      <div class="progress">
        <div class="progress-bar" role="progressbar"  style="width: {{row.sum / filteredOutcome[0].sum * 100}}%"></div>
      </div>

      <div class="info">~{{row.avg}}€<span>/kerta</span></div>
    </div>
