<div class="jumbotron">
  <div class="container">

  <h2 class="guide clearfix"><span>1</span> Lataa tilitietosi koneellesi haluamaltasi aikaväliltä Nordean verkkopankista</h2>
  <img src="images/nordea-ohje.png" title="Lataa tilitietosi Nordean verkkopankista Tapahtumaluettelo-välilehdeltä" />
 
  <h2 class="guide clearfix"><span>2</span> Lataa tiedosto tähän</h2>
  <p class="lead">
    
    <input type="file" id="csvFile" ng-model="csvFile" custom-on-change="upload" />
    Ladattava tiedosto Nordean .txt tai .csv<br />
    Tietojasi käsitellään pelkästään selaimessasi.
  </p>
  </div>
</div>


<div class="container">

  <img class="center" src="images/loader.svg" ng-show="loading" />

  <h2 class="total" ng-if="total"><span class="title">Yhteensä {{timeInterval[0]}}-{{timeInterval[1]}}</span> {{total}}<span class="currency">&euro;</span></h2>
  <div class="pricerows">

    <div ng-repeat="row in summary" class="pricerow">
      <span class="lbl">{{row.id || '-ei saajan nimeä-'}}</span> <span class="sum">{{row.sum}} &euro;</span>

      <div class="progress">
        <div class="progress-bar" role="progressbar"  style="width: {{row.percentage}}%"></div>
      </div>
    </div>

  </div>
</div>