<div class="jumbotron" >
  <div class="container"  ng-class="{'no-menu':!loaded}">

  <div class="guides" ng-class="{'invisible':loaded}">
  <h2 class="guide clearfix"><span>1</span> Lataa tilitietosi koneellesi haluamaltasi aikaväliltä omasta verkkopankistasi</h2>
  <img class="infoimg" src="images/nordea-ohje.png" title="Lataa tilitietosi Nordean verkkopankista Tapahtumaluettelo-välilehdeltä" />
  
  <h2 class="guide clearfix"><span>2</span> Valitse pankki</h2>


  <form>
  <div class="btn-group bank-choose" >
    <label class="btn btn-default" ng-class="{active:my.bank==name}" ng-repeat="name in banks" for="{{name}}">
      <input type="radio" 
             ng-model="my.bank"
             ng-value="name"
             id="{{name}}"
             name="mybank" />
      {{name}}
    </label>


  </div>
  </form>

  <h2 class="guide clearfix"><span>3</span> Lataa tiedosto tähän</h2>
  <p class="lead">
    
    <input type="file" id="csvFile" ng-model="csvFile" custom-on-change="upload" />
    Ladattava tiedosto Nordean .txt tai .csv<br />
    Tietojasi käsitellään pelkästään selaimessasi.
  </p>
</div>
  


   <!--  <img class="loader" ng-show="loading" src="images/loader.svg" /> -->


    <ul class="menu" ng-if="loaded">
      <li><a href ng-click="changeMode('outcome')" ng-class="{active:mode=='outcome'}">Menot <span class="badge">{{outcome.length}}</span></a></li>
      <li class="income-tab"><a href ng-click="changeMode('income')" ng-class="{active:mode=='income'}" >Tulot <span class="badge">{{income.length}}</span></a></li>
    </ul>

  </div>
</div>



  <div class="canvas-container" >
    <canvas tc-chartjs chart-type="Line" chart-options="chartoptions" chart-data="chartdata" width="100%"></canvas>
  </div>

<div class="container container-relative" ng-switch="mode">



  <!-- income -->
  <div class="pricerows income" ng-switch-when="income" >
      <h2 class="total" ng-if="totalIncome"><span class="title">Yhteensä {{timeInterval[0]}}-{{timeInterval[1]}}</span> {{totalIncome}}<span class="currency">&euro;</span></h2>

      <div ng-repeat="row in income" class="pricerow" >
        <span class="lbl">{{row.id || '-ei tallettajan nimeä-'}}</span> <span class="sum">{{row.sum}} &euro;</span>

        <div class="progress">
          <div class="progress-bar" role="progressbar"  style="width: {{row.percentage}}%"></div>
        </div>

        <div class="info">{{row.avg}}€<span>/kerta</span></div>
      </div>
  </div>

  <!-- outcome -->
  <div class="pricerows" ng-switch-default >
    <h2 class="total" ng-if="totalOutcome"><span class="title">Yhteensä {{timeInterval[0]}}-{{timeInterval[1]}}</span> {{totalOutcome}}<span class="currency">&euro;</span></h2>

    <div ng-repeat="row in outcome" class="pricerow">
      <span class="lbl">{{row.id || '-ei saajan nimeä-'}}</span> <span class="sum">{{row.sum}} &euro;</span>

      <div class="progress">
        <div class="progress-bar" role="progressbar"  style="width: {{row.percentage}}%"></div>
      </div>

      <div class="info">{{row.avg}}€<span>/kerta</span></div>
    </div>
  </div>

</div>